html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 240, 242);
}
/* 
----------------------------------------------------------------------------------------romy
*/
header{
display: flex;
justify-content: space-evenly;
padding-left: 95px;
align-items: center;
clip-path: ellipse(85% 100% at top);

background-color:  rgb(3, 53, 125);
}
.logo{
display: flex;
justify-content: center;
}
.content{
    color: rgb(61, 241, 112);
}

/* 
----------------------------------------------------------------------------------------romy
*/
section{
    display: flex;
    justify-content: center;
    background-color: rgb(61, 241, 112);
    color: rgb(3, 53, 125);
    clip-path: ellipse(85% 100% at bottom);
}

/* 
----------------------------------------------------------------------------------------romy
*/

.vakken{
    display: flex;
    flex-direction: column;
align-items: center;
margin-top: 5pxpx;

}
.vak{

color: rgb(3, 53, 125);
margin-top: 10px;
}
.vakken h3{
    color: rgb(61, 241, 112);
    background-color:  rgb(3, 53, 125);
border-color: blue;
padding: 5px;
}

/* 
----------------------------------------------------------------------------------------romy
*/

.imgContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 
----------------------------------------------------------------------------------------romy
*/
.roosterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roosterTitel{
    background-color:rgb(3, 53, 125) ;
    color:rgb(61, 241, 112) ;
    padding: 5px;
    margin-bottom: 35px;
}
.roosterImg{
margin-bottom: 35px;
}
.roosterText{
    color:rgb(3, 53, 125) ;

}


/* 
----------------------------------------------------------------------------------------romy
*/
.blokContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blokTitel{
    background-color:rgb(3, 53, 125) ;
    color:rgb(61, 241, 112) ;
    padding: 5px;
    margin-bottom: 35px;
}

.blokImg{
    margin-bottom: 35px;
}

.blokText{
    color:rgb(3, 53, 125) ;
}

/* 
----------------------------------------------------------------------------------------romy
*/
.versnellingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versnellingTitel{
    background-color:rgb(3, 53, 125) ;
    color:rgb(61, 241, 112) ;
    padding: 5px;
    margin-bottom: 35px;
}

.versnellingImg{
    margin-bottom: 35px;
}

.versnellingText{
    color:rgb(3, 53, 125) ;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* 
----------------------------------------------------------------------------------------romy
*/
footer{
    background-color:  rgb(3, 53, 125);
    color: rgb(61, 241, 112);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}